<!DOCTYPE html>
{% extends 'hlavicka.html'%}

{% block content %}

<html lang="en" dir="ltr">

  <body>
<form >
    <br>
 <h1 class="containernazov"> Vitajte v ponuke systému </h1>
     <br>
  <p class="containertext" > špecialy ponukový system pre automatický cennik
    <br>ponúk
    <br>Of resolve to gravity thought my prepare chamber so
    <br>
    <br>collecting may sympathize nay interested
    <br>et. Lasted engage roused mother an a
    <br>by extremity of contented. Is pursuit
    <br>
    <br>
  <a href={{url_for('login')}}>
    <button type="button"  class="button-27"> Vstupiť</button>
  </a>
  </p>
</form>
  </body>
</html>

{% endblock %}
