<!DOCTYPE html>
{% extends 'hlavicka.html'%}

{% block content %}

<html lang="en" dir="ltr">

  <body>
<form >
    <br>
 <h1 class="containernazov"> Vitajte v ponuke systému </h1>
     <br><font size="4">
  <p class="containertext2">  Eviduje všetky dáta obchodného charakteru a umožňuje
    <br>managementu veľmi jednoducho a rýchlo vyhodnocovať
    <br>ponukové konania a efektivitu realizovaných zákaziek.
    <br>
    <br>Integrácia všetkých dát v jednej databázy, jednoduchosť zadávania prvotných dokladov
    <br>Zvyšuje prehľadnosť a efektivitu všetkých podporných procesov a čerpaní dát
    <br>Využíva elektronickú fakturáciu.
    <br></font>
    <br>
  <a href={{url_for('login')}}>
    <button type="button"  class="button-27"> Vstupiť</button>
  </a>
  </p>
</form>


{% include "footer.html" %}
  </body>
</html>

{% endblock %}
